@page
@model RestWebApplication.Client.Pages.Teachers.Create

<!DOCTYPE html>

<html>
<head>
    <title>Add new teacher</title>
</head>
<body>
<div>
    <form method="post">
        
    </form>
</div>
</body>
</html>